:root {
  --mainBrown: #2d1e1f;
  --mainYellow: rgb(255, 158, 9);
  --mainGray: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.25rem;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  font-size: 2rem;
  color: var(--mainYellow);
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  color: var(--mainBrown);
  background-color: var(--mainYellow);
}

.footer {
  background: var(--mainBrown);
}

.about-background {
  min-height: 60vh;
}
